.header-social 
  .header-social-media
    a(href="https://www.facebook.com" target="_blank") 
      img(src="img/svg/social-facebook.svg", alt="Facebook")
  .header-social-media
    a(href="instagram.com" target="_blank") 
      img(src="img/svg/social-instagram.svg", alt="Instagram")
  .header-social-media
    a(href="facebook.com" target="_blank") 
      img(src="img/svg/social-linkedli.svg", alt="linkedli")
  .header-social-media
    a(href="facebook.com" target="_blank") 
      img(src="img/svg/social-snapchat.svg", alt="Snapchat")
  .header-social-media
    a(href="facebook.com" target="_blank") 
      img(src="img/svg/social-youtube.svg", alt="Youtube")