doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Quien
    link(rel="stylesheet", href="../css/quien.css")
  body 
    header 
      include ../elementos/pug/menu.pug
    main 
      .main-info
        h1 ¿ Quienes Somos ?
        p Somos un grupo de fotografia Ecuatoriano con tradición, líder en los distintos sectores en los que operamos. Nos manejamos con altos estándares de gestión y producción, para competir internacionalmente. Nuestra profesionalización ha permitido que seamos reconocidos como uno de los grupos económicos más importantes y sólidos del Ecuador.
    include ../elementos/pug/footer.pug
    